<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array/>
			<key>CFBundleTypeName</key>
			<string>GPX File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.sebastien.AnyPOI.GPX</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.sebastien.AnyPOI</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>AnyPOI</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>33</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>uberauth</string>
		<string>uber</string>
		<string>citymapper</string>
		<string>waze</string>
		<string>comgooglemaps</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCalendarsUsageDescription</key>
	<string>AnyPOI allows to create geo-localized events to your calendar.</string>
	<key>NSContactsUsageDescription</key>
	<string>AnyPOI will create Point Of Interests for your contacts.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>AnyPOI will detect when you enter/exit from a region.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>AnyPOI will show your position on Map and for route.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>AnyPOI will show your photos near your Point Of Interests. </string>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeSearch</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>SHORTCUT_SEARCH_POI</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.sebastien.AnyPOI.SearchPOI</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeMarkLocation</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>SHORTCUT_ADD_CURRENT_LOCATION</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.sebastien.AnyPOI.POICurrentLocation</string>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>Launch Screen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>GPX File</string>
			<key>UTTypeIdentifier</key>
			<string>com.sebastien.AnyPOI.GPX</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>gpx</string>
				<key>public.mime-type</key>
				<string>public.plain-text</string>
			</dict>
		</dict>
	</array>
	<key>UberCallbackURIs</key>
	<array>
		<dict>
			<key>URIString</key>
			<string>[callback://your_callback_uri]</string>
			<key>UberCallbackURIType</key>
			<string>General</string>
		</dict>
	</array>
	<key>UberClientID</key>
	<string>_Yg0s2QrC3rJCA2cuVxBY4YOVwQ3azpP</string>
	<key>UberDisplayName</key>
	<string>AnyPOI</string>
	<key>UberServerToken</key>
	<string>niWOY800EOybzQJ-aA1U2v9PdqEweSXF7F_iJTDL</string>
</dict>
</plist>
