<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   ProductIds.plist
   AnyPOI

   Created by Sébastien Brugalières on 27/02/2017.
   Copyright (c) 2017 Sébastien Brugalières. All rights reserved.
-->
<plist version="1.0">
    <array>
        <string>com.sebastien.AnyPOI.unlimitedInApp</string>
    </array>
</plist>
