<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AnyPOI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>AnyPOITodayWidget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BE9833EE1D8D55C600B174A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BEA7BA9A1D8B01E5005D2D21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BEA7BAB11D8B01E5005D2D21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BEA7BABC1D8B01E5005D2D21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
